.homepage {
  overflow: hidden;
  width: 100%;
}

.homepage__night {
  background: linear-gradient(0deg, rgb(0, 0, 66) 0%, rgba(0,0,0,1) 100%);
  height: calc(100vh - 50px);
}

.stars__container {
  width: 500%;
  position: relative;
  height: 100%;
  animation: stars-slide 1300s linear infinite;
}

@keyframes stars-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%); 
  }
}

.star {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: absolute;
  /* box shadow */
  box-shadow: 0 0 10px 1px white;
  /* transition: opacity 0.5s ease; */
}



.homepage__dawn {
  background: linear-gradient(0deg, rgb(252, 243, 0) -100%, rgb(1, 68, 150) 66%, rgb(0,0,66) 100%);
  height: calc(100vh - 50px);
}

.homepage__sun {
  background: linear-gradient(0deg, rgb(0, 92, 204) 0%, rgb(252, 243, 0) 50%, rgb(1, 68, 150) 133%);
  height: 100vh;
  /* border: solid 1px white; */
}

.homepage__day {
  background: linear-gradient(0deg, rgb(0, 206, 252) 0%, rgb(0, 155, 232) 50%, rgb(0, 92, 204) 100%);
  height: calc(100vh - 50px);
}

.clouds__container {
  width: 1000%;
  animation: clouds-slide 180s linear infinite;
  position: relative;
  height: 100%;
  width: 100%;
}

.cloud {
  width: 500px;
  /*-- max height of 350px --*/
  height: 350px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#cloud-back {
  filter: url(#filter-back);
  box-shadow: 300px 300px 30px -20px #fff;
}

#cloud-mid {
  filter: url(#filter-mid);
  box-shadow: 300px 340px 70px -60px rgba(158, 168, 179, 0.5);
    left: 0;
}

#cloud-front {
  filter: url(#filter-front);
  box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.155);
    left: 0;
}

@keyframes clouds-slide {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-80%); 
  }
}